body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://img.freepik.com/premium-photo/business-handshake-finance-prosperity-money-technology-asset-background_31965-43781.jpg?w=1060");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* navbar */
.logo {
  width: 4rem;
}

.homepageimage {
  height: 25rem;
  width: 25rem;
}

.image_text {
  color: #f2f2f2;
  background: #77a9f3;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
  margin: 0 5px 24px;
  float: left;
  padding: 10px;
  margin: 2px 5px 24px;
  -webkit-box-shadow: -19px -10px 40px 20px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: -19px -10px 40px 20px rgba(0, 0, 0, 0.88);
  box-shadow: -19px -10px 40px 20px rgba(0, 0, 0, 0.88);
  -webkit-border-radius: 10px;
  -webkit-border-top-left-radius: 200px;
  -webkit-border-bottom-right-radius: 200px;
  -moz-border-radius: 10px;
  -moz-border-radius-topleft: 250px;
  -moz-border-radius-bottomright: 250px;
  border-radius: 10px;
  border-top-left-radius: 230px;
  border-bottom-right-radius: 230px;
}

.register_text {
  background-color: white;
  -webkit-box-shadow: -6px 8px 75px -3px rgba(67, 73, 247, 1);
  -moz-box-shadow: -6px 8px 75px -3px rgba(67, 73, 247, 1);
  box-shadow: -6px 8px 75px -3px rgba(67, 73, 247, 1);
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4b7fcc;
  background: linear-gradient(
    90deg,
    rgb(129, 198, 230) 0%,
    rgb(81, 79, 209) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/*! About Me */

.about_me {
  margin: 0;
  padding: 0;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg");

  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 90vh;
}

.profil_image {
  width: 25rem;
  height: 25rem;
  border: solid 5px white;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.text_content {
  border: solid 5px white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/*! welcomePage */
.form-control {
  background-color: #b1caee;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-body {
  background-color: #b1caee;
  color: white;
}

/*! sidebar */

.selected_button {
  width: 18rem;
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.selected_button:hover {
  background-color: #0d6efd;
  box-shadow: #0d6efd 0 -6px 8px inset;
  transform: scale(1.125);
  color: white;
}

.selected_button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .selected_button {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

/*! UPDATEFORM */

.update_form {
  width: 25rem;
  height: 35px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #b1caee;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.update_label {
  font-size: large;
  font-weight: bold;
}

/*! workerPage */

.profil-card {
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#boot-icon {
  font-size: 3rem;
  color: rgb(0, 128, 55);
  opacity: 0.9;
  -webkit-text-stroke-width: 1.3px;
  text-shadow: rgb(0, 255, 136) 0px 4.4px 4.1px;
}

.invisible-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
